
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: roboto;
  
}

:root{
  --main-color:#19283f;
  --green-color:#33d1cc;
  --red-btn:#ff3150;
  --yellowcolor:#ffc400;
}

/* start navbar*/

.navbar{
  background-color:var(--main-color) ;
  
}

.navbar-brand{
  color: white !important;
  font-size: 20px;
  font-style: italic;
}

.navbar-nav .nav-link{
  margin-right: 10px;
  color: white !important;
  text-align: center;
  
}
.navbar .navbar-nav .nav-link.active ,
.navbar .navbar-nav .nav-link:focus ,
.navbar .navbar-nav .nav-link:hover {
  color:var(--green-color) !important ;
}

.navbar-toggler{
  border: 1px solid white;
;
}
.navbar-toggler:focus{
  border: 1px solid white;
  box-shadow: none;
}

.navbar-toggler svg{
 color:white ;
}

.navbar .search{
  border-left: 1px solid var(--green-color);
  padding-left: 16px;
  cursor: pointer;
}
.navbar .search svg{
  color: var(--green-color);
}

.navbar a.btn{
  margin-left: 20px;
  padding: 3px 15px;
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  color: #ffc400;
}
 a.btn:hover{
  background-color: var(--red-btn);
  border-style: var(--red-btn);
}
@media (max-width:991px) {
  .navbar-nav{
    height:calc(100vh - 58px)  !important;
    justify-content: space-around;
  }

  .navbar .search{
    display: none;
  }
}


/* end  navbar*/



/* start landing section */
.landing{
  background-color: var(--main-color);
  
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.landing h2{
  
  font-size: 10vh;
}

.landing p{
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.landing a{
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  color: var(--yellowcolor);
}

@media (max-width:767px){
  .landing h2{
  
    font-size: 5vh;
  }
}
/* end landing section */

/* start features */
.features{
  padding-top: 40px;
  padding-bottom: 40px;
}
.features .head{
  text-align: center;
  position: relative;
}
.features .head svg{
  color: var(--yellowcolor);
  font-size: 50px;
  animation: waving 3s linear infinite alternate;
  transition: all .5s ;
  
}

@keyframes waving{
  0%{
    transform: translatex(-80px);
  }
  25%{
    transform: translatex(-40px);
  }
  50%{
    transform: translatex(0px);
  }
  75%{
    transform: translatex(40px);
  }
  100%{
    transform: translatex(80px);
  }
}
.features .head h3{
  font-weight: bold;
  font-size: 35px;
}
.features .head p{
  
  font-size: 15px;
  padding-bottom: 10px;
}
.features .head p::after {
  
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width:120px;
  height: 2px;
  background-color: var(--green-color);
 
}
.features .conup{
  margin-top: 80px;
}
.features .row .master{
  text-align: center;
  margin-top: 85px;
  position: relative;
  
  
}

.features .row .master .upper::before , .features .row .master .upper2::before , .features .row .master .upper3::before{
  position: absolute;
  top: -170px;
  left: 50%;
  font-size: 200px;
  font-weight: bold;
  z-index: -1;
  transform:translatex(-50%);
  color: rgba(221, 221, 221,.6);
}

.features .row .master .upper::before{
  content:"1";
  
}
.features .row .master .upper2::before{
  content:"2";
 
}
.features .row .master .upper3::before{
  content:"3";
 
}

.features .row .master svg{
  color: var(--green-color);
  font-size: 60px;
  margin-bottom: 20px;
  
  
}


.features .row .master h3{
  color: yellow;
  font-weight: bold;
 
}

/* end features */


/* start work section */
.work{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e8e1e1;
}
.work .head{
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}
.work .head svg{
  color: var(--yellowcolor);
  font-size: 50px;
  animation: waving 3s linear infinite alternate;
  transition: all .5s ;
  
}

@keyframes waving{
  0%{
    transform: translatex(-80px);
  }
  25%{
    transform: translatex(-40px);
  }
  50%{
    transform: translatex(0px);
  }
  75%{
    transform: translatex(40px);
  }
  100%{
    transform: translatex(80px);
  }
}
.work .head h3{
  font-weight: bold;
  font-size: 35px;
}
.work .head p{
  
  font-size: 15px;
  padding-bottom: 10px;
}
.work .head p::after {
  
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width:120px;
  height: 2px;
  background-color: var(--green-color);
 
}

.work ul{
  display: flex;
  justify-content: center;
}

.work ul li{
  margin-right: 17px;
  cursor: pointer;
  transition: all .3s ease-in-out ;
  color: #626e6a;
}
.work ul li.active{
  background-color: var(--red-btn);
  border-radius: 13px;
  padding: 2px 14px;
  color:white
  
}
.work ul li:not(.active):hover{
  color: var(--red-btn);
}
.work .box{
  position: relative;
  margin: 10px 0px 15px 0px;
  overflow: hidden;
}
.work img{
  width: 100%;
 
  
}

.work .box::before{
  position: absolute;
  top: 0%;
  left: 0%;
  content:"Application";
  background-color:rgba(51, 209, 204 , .5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  transform: translatex(-100%);
  transition: transform .3s ease-in-out;
}
.work .box:hover::before{
  transform: translatex(0);
}

.work .upper-f-button{
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.work a{
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  color: var(--yellowcolor);
  
}
.work a:focus{
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  box-shadow: none;
  color: var(--yellowcolor);
}
/* end work section */

/* start stuff section */
.stuff{
  padding: 40px 0;
}
.stuff .head{
  text-align: center;
  position: relative;
}
.stuff .head svg{
  color: var(--yellowcolor);
  font-size: 50px;
  animation: waving 3s linear infinite alternate;
  transition: all .5s ;
  
}

@keyframes waving{
  0%{
    transform: translatex(-80px);
  }
  25%{
    transform: translatex(-40px);
  }
  50%{
    transform: translatex(0px);
  }
  75%{
    transform: translatex(40px);
  }
  100%{
    transform: translatex(80px);
  }
}
.stuff .head h3{
  font-weight: bold;
  font-size: 35px;
}
.stuff .head p{
  
  font-size: 15px;
  padding-bottom: 10px;
}
.stuff .head p::after {
  
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width:120px;
  height: 2px;
  background-color: var(--green-color);
 
}
.stuff .lower h3{
  font-weight: bold;
}

.stuff .upper-f-button{
  justify-content: flex-start;
  display: flex;
  margin-top: 30px;
}

.stuff a{
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  color: var(--yellowcolor);
  
}
.stuff a:focus{
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  box-shadow: none;
  color: var(--yellowcolor);
}

.stuff img{
  width: 90%;
  height: 85%;
  margin-top: 15px;
}

/* end stuff section */

/* start team section */
.team{
  background:#FFF;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  
}
.team .lound h3{
  font-weight: bold;
  color:var(--yellowcolor);
  margin-bottom: 10px;

}
.team .lound{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.team .lound p{
  width:75%;
  margin-bottom: 30px;
}
.team .box{
  background-color: #E4E4E4;
  padding-bottom: 15px;
}

.team .box img{
  width: 100%;
  height:200px;
}
.team .box h5{
  
  
  color: white;
  background-color: var(--green-color);
  padding: 10px 0;
}

.team .box blockquote{
  margin: 15px 0 15px 0;
  
}

@media (max-width:767px){
  .team .box{
    margin-top: 20px;
  }
}
/* end team  section*/


/* start tech section*/
.tech{
  padding:30px 0 40px;
  text-align: center;
}

.tech .cent{
  align-items: center;
}
.tech img{
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

/* end tech section*/

/* start project*/
 .project{
  text-align: center;
  padding: 50px 0 50px;
  background-color: var(--main-color);
 }

 .project h3{
  color: white;
  font-weight:400;
  letter-spacing: 3px;
  margin-bottom: 10px;
 }
.project p{
  color:#e8e1e1 !important;
 
}
.project a{
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  color: var(--yellowcolor);
  margin-bottom: 0;
  font-weight: 500;
  
}

.project a:focus{
  background-color: var(--red-btn);
  border-style: var(--red-btn);
  box-shadow: none;
  color: var(--yellowcolor);
}
/* end project*/


/* start blog section */

.blog{
  padding: 50px 0px;
}
.blog .head{
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}
.blog .head svg{
  color: var(--yellowcolor);
  font-size: 50px;
  animation: waving 3s linear infinite alternate;
  transition: all .5s ;
  
}

@keyframes waving{
  0%{
    transform: translatex(-80px);
  }
  25%{
    transform: translatex(-40px);
  }
  50%{
    transform: translatex(0px);
  }
  75%{
    transform: translatex(40px);
  }
  100%{
    transform: translatex(80px);
  }
}
.blog .head h3{
  font-weight: 600;
  font-size: 35px;
}
.blog .head p{
  
  font-size: 15px;
  padding-bottom: 10px;
}
.blog .head p::after {
  
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width:120px;
  height: 2px;
  background-color: var(--green-color);
 
}
.blog .border{
  border: 1px solid #e8e1e1;
  margin-top: 20px;
  
}
.blog .border img{
 width: 100%;
 height:170px ;
 margin: 0px 0px 13px 0px;
 
}
.blog .border p , .blog .border h6{
  padding-left: 10px;
}
.blog .border p{
  font-weight: bolder;
}
/* end blog */

/* start subscribtion section*/
.sub {
  background-color: var(--yellowcolor);
  padding: 15px 0 7px;
  text-align: center;
  
}
.sub P{
  color: var(--main-color);
  font-weight: bold;
  margin-top: 4px;
}

.sub a{
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--main-color);
  border-style: var(--main-color);
  color: var(--yellowcolor);
  margin-bottom: 0;
  font-weight: 500;

  
}

.sub a:focus{
  background-color: var(--main-color);
  border-style: var(--main-color);
  box-shadow: none;
  color: var(--yellowcolor);
}
.sub a:hover{
  background-color: var(--main-color);
  border-style: var(--main-color);
  box-shadow: none;
  color: var(--yellowcolor);
}

.sub input{
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  
  border-bottom: 1px solid #FFF;
}
.sub input::placeholder{
  color: white;
}
.sub input:focus{
  outline: none;
}

@media (max-width:767px){
  .sub a{
    margin-top: 20px;
  }
  .sub input::placeholder{
    text-align: center;
  }
}

/* end subscribtion section */


/* start footer*/
.footer{
  background-color:var(--main-color);
  padding:40px 0;
  color: white;
}
.footer .firpart {
  position: relative;
}
.footer .firpart h3{
  font-style: italic;
  margin-bottom: 20px;
  

}
.footer h3::after{
  content:"Theme";
  color:#065c68;
  position: absolute;
  left: 0;
  top: 70%;
  font-size: 17px;
  letter-spacing: 4px;
}
.footer  p:first-of-type{
  line-height: 1.7;
  color:#e8e1e1;
  margin-bottom: 70px;
}
.footer p:nth-of-type(2){
  line-height: 1.7;
  color:#e8e1e1;
}
.footer p:nth-of-type(2) span:first-child{
  
  color:var(--green-color);
}
.footer p:nth-of-type(2) span:last-child{
  
  color:var(--yellowcolor);
}

.footer  ul li{
 line-height: 2;
 text-transform: capitalize;
 color: #e8e1e1;
 cursor: pointer;
}

.footer  ul li:first-child{
  
  font-size: 22px;
}

.footer .overied h4{
  font-size: 22px;
  margin-top: 10px;
  
}
.footer .overied p{
  margin: 25px 0;
}

.footer .overied a{
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--red-btn);
  border-style: var(--main-color);
  color: white;
  margin-bottom: 0;
  font-weight: 500;
  width: 100%;
  
}

.footer a:focus{
  background-color: var(--red-btn);
  border-style: var(--main-color);
  box-shadow: none;
  color: white;
}
.footer a:hover{
  background-color: var(--red-btn);
  border-style: var(--main-color);
  box-shadow: none;
  color: white;
}

.footer .overied ul li{
  display: inline-block;
  margin-top: 25px;
 
}

.footer .overied ul li a{
  background-color: transparent
}

@media(max-width:767px){
  .footer{
    text-align: center;
  }
  .footer h3::after{
    content:"Theme";
    color:#065c68;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 17px;
    letter-spacing: 4px;
    transform: translatex(-50%);
  }
}
/* end footer*/